body{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin-left: 10px;
    padding-top: 30px;
}
h2{
    margin-left: 10px;
}
pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}